{
  "parser": "@babel/eslint-parser",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    },
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    },
    "requireConfigFile": false
  },
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "rules": {
    "space-before-function-paren": 0,
    "react/prop-types": 0,
    "react/jsx-handler-names": 0,
    "react/jsx-fragments": 0,
    "react/no-unused-prop-types": 0,
    "import/export": 0
  }
}
