
.react-datepicker {
  font-family: "promptregular", sans-serif;
}

.react-datepicker-wrapper {
  display: flex;
}

.react-datepicker__header {
  background-color: whitesmoke;
}

.react-datepicker__day--highlighted-today {
  border: dashed 1.8px #4ab19d;
  border-radius: 0.3rem !important;
}

.react-datepicker__day--selected {
  background-color: #4ab19d;
}
.react-datepicker__day--selected:hover {
  background-color: #41a793;
}

.react-datepicker__close-icon::after {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 0px;
  font-size: 16px;
}
.react-datepicker__close-icon:hover::after {
  background-color: rgba(0, 0, 0, 0.45);
}

button.borderless {
  border: 0;
  background-color: transparent;
}
button.borderless:focus,
select.borderless:focus,
.react-datepicker__day:focus,
.react-datepicker__day--selected:focus {
  outline: transparent;
}